@{
  Layout = "_Layout";
}

@using Shelter.Models;

<h1>Welcome to Amber and Ana's Delightful Dog Rescue! </h1>

<p>@Html.ActionLink("See all dogs", "Index", "Dogs")</p>
<p>@Html.ActionLink("See by Priority", "Index", "Priorities")</p>
<p>@Html.ActionLink("See all breed categories", "Index", "Breeds")</p>
<p>@Html.ActionLink("Register here", "Register", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>