@{ Layout = "_Layout"; }

@model Shelter.Models.Dog

<h3>Edit</h3>

<h4>Edit @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DogId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Birthday)
  @Html.EditorFor(model => model.Birthday, new { @type = "date"})

  <input type="submit" value="Update Dog Profile" />
}

<p>@Html.ActionLink("Back to Dogs", "Index")