@{
  Layout = "_Layout";
}

@model Shelter.Models.Breed

<h2>Edit</h2>

<h4>Edit this breed: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BreedId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select breed")
  @Html.DropDownList("BreedId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>